<div>
    <h4>Labor</h4>
    @{


        foreach (var labor in @Model.LaborPhase)
        {
            @*<div>
                    @labor.PhaseDescription
                </div>*@
            <table class="firstDiv" style="repeat-header:yes;repeat-footer:yes;">
                <thead>
                    <tr>
                        <th colspan="4">@labor.PhaseDescription</th>
                    </tr>
                    <tr>
                        <th style="width:35%;">Employee Position</th>
                        <th style="width:35%;">Employee Name</th>
                        <th style="width:15%;">Hours</th>
                        <th style="width:15%;">PD</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in labor.employees)
                    {
                        if (employee.isSubcontractEmployee == false)
                        {
                            <tr>
                                <td>@employee.employeeTitle</td>
                                <td>@employee.employeeName</td>
                                <td>@employee.hrs</td>
                                <td>@employee.pd</td>
                            </tr>
                        }


                    }
                </tbody>
            </table>
            <div style="padding:10px">

            </div>
        }

    }
</div>